<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Yoga Studio Template">
    <meta name="keywords" content="Yoga, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Index</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC:400,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900&display=swap"
        rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href={{ url_for('static', filename="bharath/css/bootstrap.min.css")}} type="text/css" />
    <link rel="stylesheet" href={{ url_for('static', filename="bharath/css/font-awesome.min.css")}} type="text/css" />
    <link rel="stylesheet" href={{ url_for('static', filename="bharath/css/nice-select.css")}} type="text/css"/>
    <link rel="stylesheet" href={{ url_for('static', filename="bharath/css/owl.carousel.min.css")}} type="text/css"/>
    <link rel="stylesheet" href={{ url_for('static', filename="bharath/css/magnific-popup.css")}} type="text/css"/>
    <link rel="stylesheet" href={{ url_for('static', filename="bharath/css/slicknav.min.css")}} type="text/css"/>
    <link rel="stylesheet" href={{ url_for('static', filename="bharath/css/style.css")}} type="text/css"/>
</head>



<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>
    
    <!-- Search model -->
	<div class="search-model">
		<div class="h-100 d-flex align-items-center justify-content-center">
			<div class="search-close-switch">+</div>
			<form class="search-model-form">
				<input type="text" id="search-input" placeholder="Search here.....">
			</form>
		</div>
	</div>
	<!-- Search model end -->

    <!-- Header Section Begin -->
    <header class="header-section">
        <div class="container-fluid"  >
            <div class="inner-header" >
                <div class="logo">
                    <a href="/"><h3><b>Online Shopping Portal</b></h3></a>
                </div>
                <div class="header-right">
                    <img src={{ url_for('static', filename="bharath/img/icons/search.png" )}} alt="" class="search-trigger"/>
                    
                    
                    
                    <a href="/cart"><img src={{ url_for('static', filename="bharath/img/icons/bag.png" )}} alt=""/>
                        <span>{{noOfItems}}</span>
                    </a>
                </div>
        
                {% if not loggedIn %}
                <div class="user-access" >
                   
                    <a href="/loginForm" >Sign in</a>
                </div>
                {% else %}
               
                    <div>
                        <nav class="main-menu mobile-menu" >
                            <ul>
                                <li><a href="">Hello, {{firstName}}</a>
                                <ul class="sub-menu">
                                    <li><a href="/account/profile/view">Your profile</a></li>
                                    <li><a href="/account/profile/edit">Edit Profile</a></li>
                                    <li><a href="/account/profile/changePassword">Change password</a></li>
                                    <li><a href="/logout">Sign Out</a></li>
                                </ul>
                            </li>
                          
                        </ul>
                    </nav>

                    </div>
              
                    {% endif %}
               
                <nav class="main-menu mobile-menu">
                    <ul>
                        <li><a class="active" href="/">Home</a></li>
                      
                      
                    </ul>
                </nav>
            </div>
        </div>
    </header>
 




<!-- Header Info Begin -->
<div class="header-info">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                <div class="header-item">
                    <img src={{url_for('static', filename="bharath/img/icons/delivery.png" )}} alt=""/>
                    <p>Free shipping on orders over ₹500 in India</p>
                </div>
            </div>
            <div class="col-md-4 text-left text-lg-center">
                <div class="header-item">
                    <img src={{url_for('static', filename="bharath/img/icons/voucher.png")}} alt=""/>
                    <p>20% Student Discount</p>
                </div>
            </div>
            <div class="col-md-4 text-left text-xl-right">
                <div class="header-item">
                <img src={{url_for('static', filename="bharath/img/icons/sales.png")}} alt=""/>
                <p>30% off on dresses. </p>
            </div>
            </div>
        </div>
    </div>
</div>
<!-- Header Info End -->
<!-- Header End -->








<!-- Page Add Section Begin -->
<section class="page-add cart-page-add">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="page-breadcrumb">
                    <h2>Cart<span>.</span></h2>
                    
                </div>
            </div>
            <div class="col-lg-8">
                <img src="img/add.jpg" alt="">
            </div>
        </div>
    </div>
</section>
<!-- Page Add Section End -->

<!-- Cart Page Section Begin -->
<div class="cart-page">
    <div class="container">
        <div class="cart-table">
            <table>
                
                <thead>
                    <tr>
                        <th class="product-h"><h5>Product</h5></th>
                        <th><h5>Price</h5></th>
                      
                      
                        
                    </tr>
                </thead>
                <tbody>
                    {% for row in products %}
                    <tr>
                        <td class="product-col">
                            <img src={{url_for('static', filename='uploads/'+row[3])}}  />
                            <div class="p-title">
                                <h5>{{row[1]}}</h5>
                                <a href="/removeFromCart?productId={{row[0]}}" >Remove</a>
                            </div>
                        </td>
                        <td class="price-col">₹{{row[2]}}</td>
                        
                        {% endfor %}
                        
                        
                       
                    </tr>
                </tbody>
            </table>
            
        </div>

    </div>
</div>

<div class="cart-page">
    <div class="container">
        <div class="cart-table">
            <table>
                
                <thead>
                    <tr>
                        <th class="product-h"><h5></h5></th>
                        <th></th>
                        
                    </tr>
                    
                </thead><br>
                <th><br><h5 style="float: right; padding-right: 100px;">Sub - Total : &emsp;&emsp;&emsp;&emsp;<b>₹{{totalPrice}}</b></h5> </th>
                      
                
<!-- Cart Page Section End -->

</table>
</div>
</div>
</div>
<div class="cart-page">
    <div class="container">
        <div class="cart-table">
            <table>
                
                <thead>
                    
                        <th class="product-h"><h5></h5></th>
 
            </thead>
            </table>
        </div>
    </div>
    </div>

<center >
    <div class="razorpay-embed-btn" data-url="https://pages.razorpay.com/pl_EZfI0hfw8824jD/view" data-text="Pay  ₹{{totalPrice}}" data-color="#528FF0" data-size="large">
        <script>
          (function(){
            var d=document; var x=!d.getElementById('razorpay-embed-btn-js')
            if(x){ var s=d.createElement('script'); s.defer=!0;s.id='razorpay-embed-btn-js';
            s.src='https://cdn.razorpay.com/static/embed_btn/bundle.js';d.body.appendChild(s);} else{var rzp=window['__rzp__'];
            rzp && rzp.init && rzp.init()}})();
        </script>
      </div>
          
    </center>



<!-- Features Section Begin -->
<section class="features-section spad">
<div class="features-ads">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="single-features-ads first">
                    <img src={{url_for('static', filename="bharath/img/icons/f-delivery.png")}} alt="" />
                    <h4>Free shipping</h4>
                    <p>Fusce urna quam, euismod sit amet mollis quis, vestibulum quis velit. Vesti bulum mal
                        esuada aliquet libero viverra cursus. </p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="single-features-ads second">
                    <img src={{url_for('static', filename="bharath/img/icons/coin.png" )}} alt="" />
                    <h4>100% Money back </h4>
                    <p>Urna quam, euismod sit amet mollis quis, vestibulum quis velit. Vesti bulum mal esuada
                        aliquet libero viverra cursus. </p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="single-features-ads">
                    <img src={{url_for('static', filename="bharath/img/icons/chat.png" )}} alt="" />
                    <h4>Online support 24/7</h4>
                    <p>Urna quam, euismod sit amet mollis quis, vestibulum quis velit. Vesti bulum mal esuada
                        aliquet libero viverra cursus. </p>
                </div>
            </div>
        </div>
    </div>
</div>
</section>


<!-- Footer Section Begin -->
<footer class="footer-section spad">
    <div class="container">
        <div class="newslatter-form">
            <div class="row">
                <div class="col-lg-12">
                    <form action="#">
                        <input type="text" placeholder="Your email address">
                        <button type="submit">Subscribe to our newsletter</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="footer-widget">
            <div class="row">
                <div class="col-lg-3 col-sm-6">
                    <div class="single-footer-widget">
                        <h4>About us</h4>
                        <ul>
                            <li>About Us</li>
                            <li>Community</li>
                            <li>Jobs</li>
                            <li>Shipping</li>
                            <li>Contact Us</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="single-footer-widget">
                        <h4>Customer Care</h4>
                        <ul>
                            <li>Search</li>
                            <li>Privacy Policy</li>
                            <li>2019 Lookbook</li>
                            <li>Shipping & Delivery</li>
                            <li>Gallery</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="single-footer-widget">
                        <h4>Our Services</h4>
                        <ul>
                            <li>Free Shipping</li>
                            <li>Free Returnes</li>
                            <li>Our Franchising</li>
                            <li>Terms and conditions</li>
                            <li>Privacy Policy</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="single-footer-widget">
                        <h4>Information</h4>
                        <ul>
                            <li>Payment methods</li>
                            <li>Times and shipping costs</li>
                            <li>Product Returns</li>
                            <li>Shipping methods</li>
                            <li>Conformity of the products</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="social-links-warp">
        <div class="container">
            <div class="social-links">
                <a href="" class="instagram"><i class="fa fa-instagram"></i><span>instagram</span></a>
                <a href="" class="pinterest"><i class="fa fa-pinterest"></i><span>pinterest</span></a>
                <a href="" class="facebook"><i class="fa fa-facebook"></i><span>facebook</span></a>
                <a href="" class="twitter"><i class="fa fa-twitter"></i><span>twitter</span></a>
                <a href="" class="youtube"><i class="fa fa-youtube"></i><span>youtube</span></a>
                <a href="" class="tumblr"><i class="fa fa-tumblr-square"></i><span>tumblr</span></a>
            </div>
        </div>



    </div>
</footer>

<!-- Js Plugins -->
<script src={{url_for('static', filename="bharath/js/jquery-3.3.1.min.js")}} ></script>
<script src={{url_for('static', filename="bharath/js/bootstrap.min.js")}}></script>
<script src={{url_for('static', filename="bharath/js/jquery.magnific-popup.min.js")}}></script>
<script src={{url_for('static', filename="bharath/js/jquery.slicknav.js")}}></script>
<script src={{url_for('static', filename="bharath/js/owl.carousel.min.js")}}></script>
<script src={{url_for('static', filename="bharath/js/jquery.nice-select.min.js")}}></script>
<script src={{url_for('static', filename="bharath/js/mixitup.min.js")}}></script>
<script src={{url_for('static', filename="bharath/js/main.js")}}></script>
</body>
</html>