<html>
<head>
<title>Change Password</title>
<script src={{ url_for('static', filename='js/changePassword.js') }}></script>


<!--===============================================================================================-->	
<link rel="icon" type="image/png" href={{url_for('static', filename="images/icons/favicon.ico")}} />
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href={{url_for('static', filename="vendor/bootstrap/css/bootstrap.min.css")}} />
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href={{url_for('static', filename="fonts/font-awesome-4.7.0/css/font-awesome.min.css")}} />
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href={{url_for('static', filename="fonts/iconic/css/material-design-iconic-font.min.css")}} />
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href={{url_for('static', filename="vendor/animate/animate.css")}} />
<!--===============================================================================================-->	
<link rel="stylesheet" type="text/css" href={{url_for('static', filename="vendor/css-hamburgers/hamburgers.min.css")}} />
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href={{url_for('static', filename="vendor/animsition/css/animsition.min.css")}} />
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href={{url_for('static', filename="vendor/select2/select2.min.css")}} />
<!--===============================================================================================-->	
<link rel="stylesheet" type="text/css" href={{url_for('static', filename="vendor/daterangepicker/daterangepicker.css")}} />
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href={{url_for('static', filename="css/util.css")}} />
<link rel="stylesheet" type="text/css" href={{url_for('static', filename="css/main.css")}} />
<!--===============================================================================================-->
<link rel="stylesheet" href={{ url_for('static', filename='css/home.css') }} />
<link rel="stylesheet" href={{ url_for('static', filename='css/topStyle.css') }} />


</head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" crossorigin="anonymous">

<style>
	.lab{
		font-family: Verdana, Geneva, Tahoma, sans-serif;
		color: black;
		font-size: 15px;
		text-decoration: none;
		font-weight: normal;
	}
	
	.btn-group button {
	  background-color: rgb(231, 136, 11);
	  border: 1px solid rgb(231, 136, 11); 
	  color: white; /* White text */
	  
	  cursor: pointer; /* Pointer/hand icon */
	  float: left; /* Float the buttons side by side */
	  
	}
	
	/* Clear floats (clearfix hack) */
	.btn-group:after {
	  content: "";
	  clear: both;
	  display: table;
	  margin-left: 30px;;
	
	}
	
	.btn-group button:not(:last-child) {
	  border-right: none; /* Prevent double borders */
	}
	
	/* Add a background color on hover */
	.btn-group button:hover {
	  background-color: rgb(207, 124, 14);
	}
	
	.button1 {
		border-radius: 8px;
		width: 170px;
		height: 40px;
		
		}
.button1:hover{
	background-color: rgb(207, 124, 14);
}


</style>
	
<div id="title" style="padding-left: 20px;">

	{% if not loggedIn %}
	<div id="signInButton" style="float: right; padding-right: 150px; padding-top: 4px;" >
		<a class="link" href="/loginForm" ><b>Sign In</b></a>
	</div>
	{% else %}
	<div  class="dropdown" style="float: right; padding-right: 110px;">
		<button class="dropbtn" style="width: 150px; background-color: black;">Hello, <br>{{firstName}}</button>
		<div class="dropdown-content" style="background-color: white;">
		
			<a href="/account/profile/view" style="color: black; background-color: white; ">Your profile</a>
			<a href="/account/profile/edit" style="color: black; background-color: white; ">Edit Profile</a>
			<a href="/account/profile/changePassword" style="color: black; background-color: white; ">Change password </a>
			
			<a href="/logout" style="color: black; background-color: blanchedalmond; ">Sign Out</a>
		</div>
	</div>
	{% endif %}
	<div id="kart" style="float: right; padding-top: 2px;">
		<a class="link"  href="/cart">
			<img src={{url_for('static', filename='images/shoppingCart.png')}} id="cartIcon"/>
			CART {{noOfItems}}
		</a>
	</div>
	<a href="/" style="text-decoration: none; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; color: white;"><h1>ONLINE PORTAL</h1></a>
</div>	

<body>
		<center>
<h1><b>Change password</h1><br>
<p>{{ msg }}</p>
<form action={{ url_for('changePassword') }} method="POST" onsubmit="return validate()">
	<p class="lab">Old Password &emsp;&emsp;&nbsp;&nbsp;&nbsp;<input type="password" name="oldpassword" style="border-style: groove; color: block; border-top-style: hidden;	border-right-style: hidden;
		border-left-style: hidden;" ></p>
	<p class="lab">New Password &emsp;&emsp;&nbsp;&nbsp;<input type="password" name="newpassword" id="newpassword" style="border-style: groove; border-top-style: hidden;	border-right-style: hidden;
		border-left-style: hidden;"></p>
	<p class="lab">Confirm Password &emsp;<input type="password" name="cpassword" id="cpassword" style="border-style: groove; border-top-style: hidden;	border-right-style: hidden;
		border-left-style: hidden;"></p>
		
	<br>
	<input type="submit" value="Save" class="button1 btn-group" style="background-color: rgb(231, 136, 11); color: white;">
	<div class="btn-group" style="padding-bottom: 1px;">
	<a href="/" style="margin-left: 10%;" ><button class="button1">< Home</Continue></button></a>
	
		</div>
</form><br>


</b>
</center>
</body>
	
</html>


