<!DOCTYPE HTML>
<html>
<head>
	<title>Welcome</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<script type="text/javascript" src="{{ url_for('static', filename = 'js/validateForm.js') }}"></script>
	<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href={{url_for('static', filename="images/icons/favicon.ico")}} />
	<!--===============================================================================================-->
	
	<!--===============================================================================================-->

<!--===============================================================================================-->
<link rel="stylesheet" href={{ url_for('static', filename='css/home.css') }} />
<link rel="stylesheet" href={{ url_for('static', filename='css/topStyle.css') }} />










</head>















<div id="title" style="padding-left: 20px;">

	{% if not loggedIn %}
	<div id="signInButton" style="float: right; padding-right: 150px; padding-top: 4px;" >
		<a class="link" href="/loginForm" ><b>Sign In</b></a>
	</div>
	{% else %}
	<div  class="dropdown" style="float: right; padding-right: 110px;">
		<button class="dropbtn" style="width: 150px; background-color: black;">Hello, <br>{{firstName}}</button>
		<div class="dropdown-content" style="background-color: white;">
		
			<a href="/account/profile/view" style="color: black; background-color: white; ">Your profile</a>
			<a href="/account/profile/edit" style="color: black; background-color: white; ">Edit Profile</a>
			<a href="/account/profile/changePassword" style="color: black; background-color: white; ">Change password </a>
			
			<a href="/logout" style="color: black; background-color: blanchedalmond; ">Sign Out</a>
		</div>
	</div>
	{% endif %}
	<div id="kart" style="float: right; padding-top: 2px;">
		<a class="link"  href="/cart">
			<img src={{url_for('static', filename='images/shoppingCart.png')}} id="cartIcon"/>
			CART {{noOfItems}}
		</a>
	</div>
	<a href="/" style="text-decoration: none; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; color: white;"><h1 >ONLINE PORTAL</h1></a>
</div>


















<body>
<div class="display">
	<div class="displayCategory">
		<h1><b>Shop by Category: </b></h1>
		<ul><b>
			{% for row in categoryData %}
			<li><a href="/displayCategory?categoryId={{row[0]}}">{{row[1]}}</a></li>
			{% endfor %}
		</b>
		</ul>
	</div>
	<br>
	<div><hr style="border: 1px solid black; width: 1240px;">
		<h2><b>Items</b></h2><br>
		{% for data in itemData %}
		<table>
			<tr id="productName">
				{% for row in data %}
				<td>
					{{row[1]}}
				</td>
				{% endfor %}
			</tr>
			<tr id="productImage">
				{% for row in data %}
				<td>
					<a href="/productDescription?productId={{row[0]}}">
						<img src={{ url_for('static', filename='uploads/' + row[4]) }} id="itemImage" />
					</a>
				</td>
				{% endfor %}
			</tr>
			<tr id="productPrice">
				{% for row in data %}
				<td>
					<font face="verdana"><b>₹{{row[2]}}</b></font>
				</td>
				{% endfor %}
			</tr>
		</table>
		{% endfor %}
	</div>
</div>

<button><a href="/bharath">bharath</a></button>

</body></html>






