<!DOCTYPE HTML>
<html>
<head>
<title>Product Description</title>
<script type="text/javascript" src="{{ url_for('static', filename = 'js/validateForm.js') }}"></script>
<!--===============================================================================================-->	
<link rel="icon" type="image/png" href={{url_for('static', filename="images/icons/favicon.ico")}} />
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href={{url_for('static', filename="vendor/bootstrap/css/bootstrap.min.css")}} />
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href={{url_for('static', filename="fonts/font-awesome-4.7.0/css/font-awesome.min.css")}} />
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href={{url_for('static', filename="fonts/iconic/css/material-design-iconic-font.min.css")}} />
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href={{url_for('static', filename="vendor/animate/animate.css")}} />
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href={{url_for('static', filename="vendor/css-hamburgers/hamburgers.min.css")}} />
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href={{url_for('static', filename="vendor/animsition/css/animsition.min.css")}} />
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href={{url_for('static', filename="vendor/select2/select2.min.css")}} />
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href={{url_for('static', filename="vendor/daterangepicker/daterangepicker.css")}} />
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href={{url_for('static', filename="css/util.css")}} />
	<link rel="stylesheet" type="text/css" href={{url_for('static', filename="css/main.css")}} />
<!--===============================================================================================-->
<link rel="stylesheet" href={{ url_for('static', filename='css/home.css') }} />
<link rel="stylesheet" href={{ url_for('static', filename='css/topStyle.css') }} />
<link rel="stylesheet" href={{url_for('static', filename='css/productDescription.css')}} />




</head>

<link rel="stylesheet" type="text/css" href={{url_for('static', filename="vendor/bootstrap/css/bootstrap.min.css")}} />

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" crossorigin="anonymous">

<div id="title" style="padding-left: 20px;">

	{% if not loggedIn %}
	<div id="signInButton" style="float: right; padding-right: 150px; padding-top: 4px;" >
		<a class="link" href="/loginForm" ><b>Sign In</b></a>
	</div>
	{% else %}
	<div  class="dropdown" style="float: right; padding-right: 110px;">
		<button class="dropbtn" style="width: 150px; background-color: black;">Hello, <br>{{firstName}}</button>
		<div class="dropdown-content" style="background-color: white;">
		
			<a href="/account/profile/view" style="color: black; background-color: white; ">Your profile</a>
			<a href="/account/profile/edit" style="color: black; background-color: white; ">Edit Profile</a>
			<a href="/account/profile/changePassword" style="color: black; background-color: white; ">Change password </a>
			
			<a href="/logout" style="color: black; background-color: blanchedalmond; ">Sign Out</a>
		</div>
	</div>
	{% endif %}
	<div id="kart" style="float: right; padding-top: 2px;">
		<a class="link"  href="/cart">
			<img src={{url_for('static', filename='images/shoppingCart.png')}} id="cartIcon"/>
			CART {{noOfItems}}
		</a>
	</div>
	<a href="/" style="text-decoration: none; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; color: white;"><h1>ONLINE PORTAL</h1></a>
</div>

	<body>

	<div id="display">
	<div id="productName">
		<h1><b>{{data[1]}}</b></h1><br>
	</div>
	<div>
		<img src={{url_for('static', filename='uploads/'+data[4]) }} id="productImage"/>
	</div>

	<div id="productDescription">
		<h2><b>Details</b></h2><br>
		<table id="descriptionTable">
			<tr>
				<td>Name</td>
				<td>{{data[1]}}</td>
			</tr>
			<tr>
				<td>Price</td>
				<td><b><font face="verdana">₹{{data[2]}}</font></b></td>
			</tr>
			<tr>
				<td>Stock</td>
				<td>{{data[5]}}</td>
			</tr>
		</table><br>
		<h2><b>Description</b></h2><br>
		<p>{{data[3]}}</p>
	</div>

	<style>
		.btn-group button {
		  background-color: rgb(231, 136, 11); 
		  border: 1px solid rgb(231, 136, 11); 
		  color: white; /* White text */
		  padding: 10px 24px; /* Some padding */
		  cursor: pointer; /* Pointer/hand icon */
		  float: left; /* Float the buttons side by side */
		}
		
		/* Clear floats (clearfix hack) */
		.btn-group:after {
		  content: "";
		  clear: both;
		  display: table;
		}
		
		.btn-group button:not(:last-child) {
		  border-right: none; /* Prevent double borders */
		}
		
		/* Add a background color on hover */
		.btn-group button:hover {
		  background-color:rgb(207, 124, 14);
		}
		</style>
	<div id="addToCart" class="btn-group">&nbsp;&nbsp;&nbsp;
		<a href="/addToCart?productId={{request.args.get('productId')}}"><button>&nbsp;&nbsp;&nbsp;<b>&nbsp;&nbsp;&nbsp;Add to Cart</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</button></div></a></div>
</div>
</body>
</html>

