<html>
<head>
<title>Registration</title>
<script type="text/javascript" src="{{ url_for('static', filename = 'js/validateForm.js') }}"></script>
<!--===============================================================================================-->	
<link rel="icon" type="image/png" href={{url_for('static', filename="images/icons/favicon.ico")}} />
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href={{url_for('static', filename="vendor/bootstrap/css/bootstrap.min.css")}} />
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href={{url_for('static', filename="fonts/font-awesome-4.7.0/css/font-awesome.min.css")}} />
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href={{url_for('static', filename="fonts/iconic/css/material-design-iconic-font.min.css")}} />
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href={{url_for('static', filename="vendor/animate/animate.css")}} />
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href={{url_for('static', filename="vendor/css-hamburgers/hamburgers.min.css")}} />
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href={{url_for('static', filename="vendor/animsition/css/animsition.min.css")}} />
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href={{url_for('static', filename="vendor/select2/select2.min.css")}} />
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href={{url_for('static', filename="vendor/daterangepicker/daterangepicker.css")}} />
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href={{url_for('static', filename="css/util.css")}} />
	<link rel="stylesheet" type="text/css" href={{url_for('static', filename="css/main.css")}} />
<!--===============================================================================================-->

<link rel="stylesheet" href={{ url_for('static', filename='css/editProfile.css') }} />
<link rel="stylesheet" href={{ url_for('static', filename='css/topStyle.css') }} />
</head>
<body>
<form action="/register" method="POST" onsubmit="return validate()">
    <div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
				<form class="login100-form validate-form">
					<span class="login100-form-title p-b-26">
						Sign Up
                    </span>
       <b>   
    <p>Email:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <input type="email" name="email" required style="border-bottom-style: groove;"></p>

    <P>Password: &nbsp;&nbsp;&nbsp;&nbsp;<input type="password" name="password" id="password" required style="border-bottom-style: groove;"></p>

    <p>Confirm Password: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="password" name="cpassword" id="cpassword" required size="32" style="border-bottom-style: groove;"></p>

    <p><br>First Name:&nbsp;&nbsp;&nbsp;&nbsp; <input type="text" name="firstName" required style="border-bottom-style: groove;"></p>
    <p>Last Name:&nbsp;&nbsp;&nbsp;&nbsp; <input type="text" name="lastName" style="border-bottom-style: groove;"></p>
    <p><br>Address Line 1: <input type="text" name="address1" required size="32" style="border-bottom-style: groove;"></p>
    <p>Address Line 2: <input type="text" name="address2" size="32" style="border-bottom-style: groove;"></p>
    <p><br>Zipcode: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="zipcode" required maxlength="6" style="border-bottom-style: groove;"></p>
    <p>City: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="city" required style="border-bottom-style: groove;"></p>
    <p>State: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="state" required style="border-bottom-style: groove;"></p>
    <p>Country: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="country" required style="border-bottom-style: groove;"></p>
    <p>Mobile: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="phone" maxlength="10" required style="border-bottom-style: groove;"></p>
</b>

    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <div class="container-login100-form-btn">
            <div class="wrap-login100-form-btn">
                <div class="login100-form-bgbtn"></div>
                <button class="login100-form-btn">Register
                </button>
            </div>
        </div>
                    <!--<input type="submit" value="Register">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-->

    <!--<a href="/loginForm">Login here</a></p>-->

    <!--===============================================================================================-->
	<script src={{url_for('static', filename="vendor/jquery/jquery-3.2.1.min.js")}} ></script>
    <!--===============================================================================================-->
        <script src={{url_for('static', filename="vendor/animsition/js/animsition.min.js")}} ></script>
    <!--===============================================================================================-->
        <script src={{url_for('static', filename="vendor/bootstrap/js/popper.js")}} ></script>
        <script src={{url_for('static', filename="vendor/bootstrap/js/bootstrap.min.js")}} ></script>
    <!--===============================================================================================-->
        <script src={{url_for('static', filename="vendor/select2/select2.min.js")}} ></script>
    <!--===============================================================================================-->
        <script src={{url_for('static', filename="vendor/daterangepicker/moment.min.js")}} ></script>
        <script src={{url_for('static', filename="vendor/daterangepicker/daterangepicker.js")}} ></script>
    <!--===============================================================================================-->
        <script src={{url_for('static', filename="vendor/countdowntime/countdowntime.js")}} ></script>
    <!--===============================================================================================-->
        <script src={{url_for('static', filename="js/main.js")}} ></script>



        <div class="text-center p-t-115">
            <span class="txt1">
                Already have an account?
            </span>

            <a class="txt2" href="#">
<a href="/loginForm"><b>Sign In</b></a>
                
            </a>
        </div>
</form>
</body>
</html>



